{% extends 'base.html.twig' %}

{% block title %}Actu index{% endblock %}

{% block body %}
    <h1>Yo !</h1>

    {% include "admin/_form.html.twig" %}

    {# {% for a in event_artist %}
        <h2>{{ dump(a) }}</h2>
    {% endfor %}

    {% for b in prod_artist %}
        <h2>{{ dump(b) }}</h2>
        <hr class="white-text">
    {% endfor %} #}

{% endblock %}